* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #e0e6f6;
  margin: 0;
  padding: 0;
  background-image: url(../media/game-console-6603120_1280.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.form-container {
  height: 60vh;
  width: 40%;
  min-width: 300px;
  margin: 50px auto;
  background-color: #fff;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.login {
  height: 40vh;
}

h2 {
  text-align: center;
  color: #05080f;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
  color: #05080f;
}

input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

button {
  background-color: #812849;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #9cb1e1;
}

p {
  text-align: center;
  font-size: 14px;
}

a {
  color: #812849;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
